.productcategories {
  margin-top: 50px;
  margin-bottom: 100px;
}
.productcategories img {
  padding: 20px;
}
.productcategories .thumbnail {
  background-color: white;
  border: 5px solid #EDF1F4;
  border-radius: 5px;
}
.productcategories h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 26px;
}
.productcategories h3 {
  text-align: center;
}
.productcategories a {
  text-decoration: none;
  color: black;
}
.productsrow {
  margin-bottom: 60px;
  margin-right: 5px;
  margin-left: 5px;
}
.break {
  margin-top: 0;
  margin-bottom: 40px;
  border: 2px solid #EDF1F4;
}
.grad {
  margin-top: 0;
  background: linear-gradient(to right, #F37975 , #ABCFEA);
  height: 2px;
  margin-bottom: 40px;
}

.products a {
  text-decoration: none;
  color: white;
}
.products h2 {
  text-transform: uppercase;
  font-weight: 400;
}
.products .item {
  padding: 5px 5px;
}
.products .thumbnail {
  background-color: #edf1f4;
  padding: 15px;
  border: 0;
}

/* MEDIA QUERIES */

@media screen and (max-width : 769px){
  .products h2 {
    text-align: center;
  }
}

@media screen and (max-width : 437px){
  .productsrow {
    margin-right: 0px;
    margin-left: 5px;
  }
  .products h2 {
    text-align: center;
  }
}
